
#itemImage {
	height: 200px;
	width: 150px;
}

.display {
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}

table {
	margin-left: 200px;
	border-spacing: 20px;
}

#productName {
	text-align: center;
	font-weight: bold;
}

#productPrice {
	text-align: center;
}




.displayCategory {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
  }


body {
	margin: 0;
}
  
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 15%;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}
  
li a {
	display: block;
	color: rgb(19, 131, 139);
	padding: 8px 16px;
	text-decoration: none;
}
  
li a.active {
	background-color: #09bdb1;
	color: white;
}
  
li a:hover:not(.active) {
	background-color: #09bdb1;
	color: white;
}